# Ignore system files
.DS_Store
Thumbs.db
Adobe After Effects Auto-Save

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp

# Ignore temporary files
*.tmp
*.temp
*.bak
*.orig
Adobe After Effects Auto-Save

# Blender auto saves
*.blend?

